@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,800");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  perspective: 600px;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  color: #3A3636;
  background: #ffffff;
  padding: 20px; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

strong {
  font-weight: bold; }

p {
  text-align: left;
  padding-bottom: 3.5rem; }

.container {
  max-width: 1200px; }

.heading-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem; }

.heading-2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 3rem; }

.heading-3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 4.5rem;
  text-transform: uppercase; }

.u-accent-color {
  color: #a2c741; }

.btn-round {
  color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 8px 18px;
  border: 2px solid white;
  border-radius: 40px;
  transition: all 0.3s;
  cursor: pointer; }
  .btn-round:hover {
    font-weight: bold; }

.btn-full {
  background-color: #75912b;
  color: white;
  text-transform: uppercase;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  transition: all .3s; }
  .btn-full:hover {
    background-color: #657d25; }

.svg-icon-link {
  fill: #3A3636;
  transition: all 0.3s; }
  .svg-icon-link:hover {
    fill: #a2c741; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  min-width: 400px;
  max-width: 90%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translate(-50%, -50%); }
  .modal__content {
    background: #a2c741;
    color: white;
    text-align: center;
    border: 1px solid #75912b;
    border-bottom: 8px solid #75912b; }
  .modal__close {
    position: absolute;
    top: 17px;
    right: 20px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.3rem;
    padding: 3px;
    transition: all 0.4s; }
    .modal__close:hover {
      transform: rotate(180deg); }
  .modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s; }
  .modal__heading {
    background-color: #75912b;
    text-align: center;
    padding: 10px 0;
    font-size: 3rem;
    text-transform: uppercase; }

.modal-show {
  visibility: visible; }

.modal-show ~ .modal__overlay {
  opacity: 1;
  visibility: visible; }

/* Modal Effect: fall */
.modal-effect-fall.modal {
  perspective: 1300px; }

.modal-effect-fall .modal__content {
  transform-style: preserve-3d;
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0; }

.modal-show.modal-effect-fall .modal__content {
  transition: all 0.3s ease-in;
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1; }

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%; }

.main-nav {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 200px));
  grid-template-rows: repeat(3, minmax(100px, 200px));
  grid-auto-flow: row;
  grid-auto-columns: minmax(100px, 200px);
  grid-auto-rows: minmax(100px, 200px);
  justify-content: center;
  width: 1200px; }
  @media only screen and (max-width: 62.5em) {
    .main-nav {
      grid-template-columns: repeat(4, minmax(100px, 200px));
      grid-auto-flow: dense; } }
  @media only screen and (max-width: 50em) {
    .main-nav {
      grid-template-columns: repeat(3, minmax(100px, 200px)); } }
  @media only screen and (max-width: 37.5em) {
    .main-nav {
      grid-template-columns: repeat(2, minmax(100px, 200px)); } }
  .main-nav__title {
    grid-column: 1 / span 3; }
    @media only screen and (max-width: 37.5em) {
      .main-nav__title {
        grid-column: span 2; } }
  .main-nav__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a2c741;
    color: #ffffff;
    padding: 20px; }
    .main-nav__block--about {
      background-color: #84a530; }
    .main-nav__block--portfolio {
      grid-row: 2;
      background-color: #75912b; }
    .main-nav__block--skills {
      grid-column: 2; }
    .main-nav__block--contact {
      grid-column: 3;
      background-color: #84a530; }
    .main-nav__block-pic {
      background-size: cover;
      filter: grayscale(100%);
      opacity: 0.8; }
      .main-nav__block-pic--1 {
        background: url(https://source.unsplash.com/200x200/?technology); }
      .main-nav__block-pic--2 {
        background: url(https://source.unsplash.com/200x200/?programming); }
      .main-nav__block-pic--3 {
        background: url(https://source.unsplash.com/200x200/?laptop); }
      .main-nav__block-pic--4 {
        background: url(https://source.unsplash.com/200x200/?computer); }
      .main-nav__block-pic--5 {
        background: url(https://source.unsplash.com/200x200/?internet); }
      .main-nav__block-pic--6 {
        background: url(https://source.unsplash.com/200x200/?workspace); }
  .main-nav__link:link, .main-nav__link:visited {
    transform: scale(1) rotate(0);
    transition: all 0.3s; }
  .main-nav__link:hover, .main-nav__link:active {
    transform: scale(1.1) rotate(-6deg);
    background-color: #657d25;
    z-index: 200; }
  .main-nav__contacts {
    background-color: white;
    grid-column-end: -1;
    align-self: end;
    justify-self: end;
    display: flex;
    flex-direction: row; }
    .main-nav__contacts > * {
      margin-left: 1.2rem; }

.icon {
  fill: white;
  width: 50%;
  height: 50%; }

.modal-about {
  padding: 20px;
  text-align: center; }
  .modal-about__heading-big {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    line-height: 5.2rem;
    margin: 20px 0; }
  .modal-about__line {
    display: block;
    width: 70%;
    height: 3px;
    background-color: white;
    margin: 20px auto; }
  .modal-about h4 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase; }
  .modal-about h5 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2.5rem; }
  .modal-about__buttons-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    width: 70%;
    margin: 30px auto 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.6rem; }
  .modal-about p {
    width: 70%;
    margin: 0 auto; }

.hide {
  display: none; }

.modal-about--second {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
