@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,800");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  color: #3A3636;
  background: #ffffff;
  padding: 20px; }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s; }
  a:hover {
    color: #657d25; }

ul {
  list-style: none; }

strong {
  font-weight: bold; }

p {
  text-align: left;
  padding-bottom: 3.5rem; }

.container {
  max-width: 1200px; }

.heading-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 2.5rem; } }

.heading-2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 2.2rem; } }

.heading-3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 10px; }
  @media only screen and (max-width: 50em) {
    .heading-3 {
      font-size: 1.8rem; } }

.heading-4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #898080; }

.u-accent-color {
  color: #a2c741; }

.u-hide {
  display: none; }

.btn-round {
  color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 8px 18px;
  border: 2px solid white;
  border-radius: 40px;
  transition: all 0.3s;
  cursor: pointer; }
  .btn-round:hover {
    font-weight: bold; }

.btn-full {
  background-color: #75912b;
  color: white;
  text-transform: uppercase;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  transition: all .3s; }
  .btn-full:hover {
    background-color: #657d25; }

.svg-icon-link {
  fill: #3A3636;
  transition: all 0.3s; }
  .svg-icon-link:hover {
    fill: #a2c741; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  max-width: 90%;
  height: auto;
  max-height: 100%;
  overflow: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translate(-50%, -50%); }
  .modal__content {
    background: #a2c741;
    color: white;
    text-align: center;
    border: 1px solid #75912b;
    border-bottom: 8px solid #75912b; }
  .modal__close {
    position: absolute;
    top: 17px;
    right: 20px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.3rem;
    padding: 3px;
    transition: all 0.4s; }
    .modal__close:hover {
      transform: rotate(180deg); }
  .modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s; }
  .modal__heading {
    background-color: #75912b;
    text-align: center;
    padding: 10px 0;
    font-size: 3rem;
    text-transform: uppercase; }

.modal-show {
  visibility: visible; }

.modal-show ~ .modal__overlay {
  opacity: 1;
  visibility: visible; }

.modal-effect-1 .modal__content {
  transform: scale(0) rotate(720deg);
  opacity: 0;
  transition: all 0.5s; }

.modal-show.modal-effect-1 .modal__content {
  transform: scale(1) rotate(0deg);
  opacity: 1; }

/* Modal Effect: fall */
body {
  perspective: 600px; }

.modal-effect-fall.modal {
  perspective: 1300px; }

.modal-effect-fall .modal__content {
  transform-style: preserve-3d;
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0; }

.modal-show.modal-effect-fall .modal__content {
  transition: all 0.3s ease-in;
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1; }

.form {
  width: 400px;
  max-width: 90%; }
  .form__group {
    margin-bottom: 1.5rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 0.8rem 1.2rem;
    background-color: #eee;
    border: none;
    border-bottom: 2px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
  .form__textarea {
    width: 100%;
    height: 10rem;
    padding: 0.8rem 1.2rem;
    background-color: #eee;
    border-bottom: 2px solid transparent;
    border: none;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    display: block; }
  .form__label {
    font-size: 1.2rem;
    margin-left: 1.2rem;
    margin-top: 0.7rem;
    display: block;
    color: #3A3636;
    transition: all .3s; }
  .form__input:focus, .form__textarea:focus {
    outline: none;
    box-shadow: 0 0 1.7rem rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid green; }
  .form__input:focus:invalid, .form__textarea:focus:invalid {
    border-bottom: 2px solid red; }
  .form .form__input::-webkit-input-placeholder,
  .form .form__textarea::-webkit-input-placeholder {
    color: #bbb; }
  .form__input:placeholder-shown + .form__label,
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem); }

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px);
  width: 100%; }

.main-nav {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 200px));
  grid-template-rows: repeat(3, minmax(100px, 200px));
  grid-auto-flow: row;
  grid-auto-columns: minmax(100px, 200px);
  grid-auto-rows: minmax(100px, 200px);
  justify-content: center;
  width: 1200px; }
  @media only screen and (max-width: 62.5em) {
    .main-nav {
      grid-template-columns: repeat(4, minmax(100px, 200px));
      grid-auto-flow: dense; } }
  @media only screen and (max-width: 50em) {
    .main-nav {
      grid-template-columns: repeat(3, minmax(100px, 200px));
      grid-auto-rows: 150px;
      grid-auto-columns: 150px; } }
  @media only screen and (max-width: 37.5em) {
    .main-nav {
      grid-template-rows: repeat(2, 150px); } }
  .main-nav__title {
    grid-column: 1 / span 3; }
    @media only screen and (max-width: 37.5em) {
      .main-nav__title {
        grid-column: span 2; } }
  .main-nav__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a2c741;
    color: #ffffff;
    padding: 20px; }
    .main-nav__block--about {
      background-color: #84a530; }
    .main-nav__block--facts {
      background-color: #afcf5d; }
    .main-nav__block--portfolio {
      grid-row: 2;
      background-color: #75912b; }
    .main-nav__block--skills {
      grid-column: 2; }
    .main-nav__block--contact {
      grid-column: 3;
      background-color: #84a530; }
    .main-nav__block-pic {
      background-size: cover;
      filter: grayscale(100%);
      opacity: 0.8; }
      .main-nav__block-pic--1 {
        background: url(https://source.unsplash.com/200x200/?technology); }
      .main-nav__block-pic--2 {
        background: url(https://source.unsplash.com/200x200/?programming); }
      .main-nav__block-pic--3 {
        background: url(https://source.unsplash.com/200x200/?laptop); }
      .main-nav__block-pic--4 {
        background: url(https://source.unsplash.com/200x200/?computer); }
      .main-nav__block-pic--5 {
        background: url(https://source.unsplash.com/200x200/?internet); }
      .main-nav__block-pic--6 {
        background: url(https://source.unsplash.com/200x200/?workspace); }
  .main-nav__link:link, .main-nav__link:visited {
    transform: scale(1) rotate(0);
    transition: all 0.3s; }
  .main-nav__link:hover, .main-nav__link:active {
    transform: scale(1.1) rotate(-6deg);
    background-color: #657d25;
    z-index: 200;
    color: #ffffff; }
  .main-nav__contacts {
    background-color: white;
    grid-column-end: -1;
    align-self: end;
    justify-self: end;
    display: flex;
    flex-direction: row; }
    .main-nav__contacts > * {
      margin-left: 1.2rem; }

.icon {
  fill: white;
  width: 50%;
  height: 50%;
  margin-bottom: 10px; }
  @media only screen and (max-width: 50em) {
    .icon {
      width: 65%;
      height: 65%; } }

.modal-about {
  padding: 30px;
  text-align: center; }
  .modal-about--first-page, .modal-about--second-page {
    width: 70%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .modal-about--first-page, .modal-about--second-page {
        width: 100%; } }
  .modal-about__heading-big {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    line-height: 5.2rem;
    margin: 20px 0; }
  .modal-about__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 20px auto; }
  .modal-about h4 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase; }
  .modal-about h5 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2.5rem; }
  .modal-about__profile-pic {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/mina-pic.jpg);
    background-size: cover;
    filter: grayscale(100%);
    display: inline-block;
    float: left;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin: 0 1rem 1rem 0; }
  .modal-about__buttons-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    width: 70%;
    margin: 30px auto 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.6rem; }

.modal-portfolio {
  background-color: #ffffff;
  color: #3A3636;
  text-align: left;
  padding: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr; }
  .modal-portfolio__item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr; }
  .modal-portfolio__num {
    background-color: #a2c741;
    color: #ffffff;
    padding: 2rem;
    font-size: 2.5rem; }
  .modal-portfolio__project {
    border: 2px solid #a2c741;
    padding: 10px; }
  .modal-portfolio p {
    padding-bottom: 10px; }
  @media only screen and (max-width: 37.5em) {
    .modal-portfolio {
      grid-template-columns: 1fr; } }

.modal-skills {
  background-color: #ffffff;
  color: #3A3636;
  text-align: center;
  padding: 20px; }
  .modal-skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px; }
    @media only screen and (max-width: 37.5em) {
      .modal-skills__container {
        grid-template-columns: 1fr; } }
  .modal-skills__box {
    border: 2px solid #a2c741;
    border-bottom: 6px solid #a2c741; }
    .modal-skills__box p {
      text-align: center;
      padding: 0 15px 10px; }
  .modal-skills__icon {
    background-color: #a2c741;
    padding: 20px;
    margin-bottom: 25px;
    color: #ffffff; }
  .modal-skills__svg-main-icon {
    width: 60px;
    height: 60px;
    fill: #ffffff;
    margin-bottom: 8px; }
  .modal-skills__skills-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; }
    .modal-skills__skills-icons img {
      width: 50px;
      height: auto;
      margin: 10px; }
  @media only screen and (max-width: 37.5em) {
    .modal-skills {
      grid-template-columns: 1fr;
      padding: 20px 40px; } }

.modal-facts {
  padding: 30px;
  text-align: left;
  font-size: 1.8rem; }
  .modal-facts__list-item {
    margin-bottom: 15px;
    padding-left: 20px; }
    .modal-facts__list-item::before {
      display: inline-block;
      content: url(../img/baseline-done-24px.svg);
      width: 20px;
      height: 20px;
      transform: translateY(5px);
      margin-right: 15px; }

.modal-contact {
  background-color: #ffffff;
  color: #3A3636;
  text-align: left;
  padding: 30px; }
  .modal-contact__data {
    margin: 0 auto;
    text-align: center; }
    .modal-contact__data p {
      text-align: center; }
    .modal-contact__data svg {
      fill: #a2c741;
      transform: translateY(0.5rem);
      display: inline-block; }
    .modal-contact__data svg:last-of-type {
      margin-left: 2rem; }
  .modal-contact form {
    margin: 0 auto; }
