//-------- GOOGLE FONTS ---------------------------

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,800');


// -------------------------------------------------
// ------- COLOR VARIABLES -------------------------

$color-white: #ffffff;
$color-primary: #a2c741;
$color-primary-light: lighten($color-primary, 7%);
$color-primary-dark: darken($color-primary, 10%);
$color-primary-darker: darken($color-primary, 15%);
$color-primary-darkest: darken($color-primary, 20%);
$color-grey-dark: #3A3636;
$color-grey-light: lighten($color-grey-dark, 30%);


// ------- FONTS VARIABLES -------------------------

$font-stack: "Lato", sans-serif;
$font-display: "Montserrat", sans-serif;


// -------------------------------------------------
// ------- RESPONSIVE BREAKPOINTS ------------------

$bp-largest: 68.75em;  //1100px : 16px
$bp-large: 62.5em;  //1000px : 16px
$bp-medium: 50em; //800px : 16px
$bp-small: 37.5em; //600px : 16px
$bp-smallest: 31.25em; //500px : 16px


// -------------------------------------------------
// ------- STYLES RESET ----------------------------
  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


// -------------------------------------------------
// ------- BASE STYLES -----------------------------

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px : 16px => 62,5% => 1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  perspective: 600px;
  font-family: $font-stack;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-grey-dark;
  //background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), darkslategrey), url(https://source.unsplash.com/1600x900/?code);
  background: $color-white;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  &:hover {
    color: $color-primary-darkest;
  }
}

ul {
  list-style: none;
}

img {
 // max-width: 100%;
}

strong {
  font-weight: bold;
}

p {
  text-align: left;
  padding-bottom: 3.5rem;
}


.container {
  max-width: 1200px;
}


