.modal-about {
	padding: 20px;
	text-align: center;

	&__heading-big {
		font-family: $font-display;
		text-transform: uppercase;
		font-size: 5rem;
		text-align: center;
		line-height: 5.2rem;
		margin: 20px 0;
	}
	
    &__line {
        display: block;
        width: 70%;
        height: 3px;
        background-color: white;
        margin: 20px auto;
    }

    h4 {
        font-family: $font-stack;
        font-weight: bold;
        font-size: 3rem;
        text-transform: uppercase;
    }

    h5 {
        font-family: $font-stack;
        font-weight: 300;
        font-size: 2.5rem;
    }

    &__buttons-list {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 20px;
        width: 70%;
        margin: 30px auto 20px;
        font-family: $font-display;
        font-weight: bold;
        font-size: 1.6rem;
    }

    p {
        width: 70%;
        margin: 0 auto;
    }
}


.modal-portfolio {
    background-color: $color-white;
    color: $color-grey-dark;
    text-align: left;
    padding: 20px; 
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr; 

    &__item {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto 1fr;        
    }

    &__num {
        background-color: $color-primary;
        color: $color-white;
        padding: 2rem;
        font-size: 2.5rem;
    }

    &__project {
        border: 2px solid $color-primary;
        padding: 10px;
    }
    
    p {
        padding-bottom: 10px;
    }
}
