.heading-1 {
    font-family: $font-display;
    font-size: 4rem;
    @media only screen and (max-width: $bp-small) {
    	font-size: 2.5rem;
  	}
}
    
.heading-2 {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 3rem;
    @media only screen and (max-width: $bp-small) {
    	font-size: 2.5rem;
  	}
}

.heading-3 {
	font-family: $font-stack;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.heading-4 {
	font-family: $font-stack;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $color-grey-light;
}