.heading-1 {
    font-family: $font-display;
    font-size: 4rem;
}
    
.heading-2 {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 3rem;
}

.heading-3 {
	font-family: $font-stack;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 4.5rem;
    text-transform: uppercase;
}